body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  background-color:var(--color-background);
  color:var(--color-font);
}

a {
  text-decoration: none;
  color: var(--color-link);
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  color: var(--color-font-button);
  background: var(--color-background-button);
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.button:hover:enabled {
  background: linear-gradient(#1a1a1a,#0a0a0a);
  color: #fff;
  text-decoration: none;
}

.button:active {
  transform: translateY(1px);
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
}

.nav li {
  margin-right: 15px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.active {
  color: var(--color-active-link);
  font-weight: bold;
}

.column {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}

.column input {
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.43);
  font-size: 16px;
  width: 80%;
}

.column label {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

.header {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

.reset {
  border: none;
  background: transparent;
  color: #d0021b;
  display: block;
  width: 100%;
  text-align: center;
  outline: none;
}

.reset:hover {
  cursor: pointer;
}

.theme {
  padding: 7px 10px;
  border-radius:20%;
  border:none;
  background-color:var(--color-link);
  letter-spacing: 1.5px;
  color: var(--color-font);
  cursor:pointer;
}